/*===========================*/
/*//////// FILL MAP /////////*/
/*===========================*/

#map {
    width: 100px;
    height:100px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    padding: 0;
}

/*===========================*/
/*//////// DROPDOWN /////////*/
/*===========================*/

.dropdown-menu .sub-menu {
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #262626;
    color: #9d9d9d;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
}

/*===========================*/
/*//////// SIDE FORM ////////*/
/*===========================*/

.center {
    text-align:center;
    float: none;
}

.no-border-top-right {
    border-top-right-radius: 0;
}

.border-top-right {
    border-top-right-radius: 4px !important;
}

.form-group {
    margin: 15px;
}

.button-block {
    display: block;
}

.the-button {
    padding: 25px;
    width: 100%;
}

.padding-to-navbar {
    padding-top: 50px;
}

html {
    overflow: hidden;
}

.leaflet-areaselect-container {
    display: none;
}